[Unit]
Description=Cabinet temperature control service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/pi/cabinet-control/start.py
Restart=on-abort

[Install]
WantedBy=multi-user.target